version: '3.4'

services:
  {{ serviceName }}:
    image: {{ serviceName }}
    build:
      context: .
      dockerfile: Dockerfile
{{#if ports}}
    ports:
{{#each ports}}
      - {{ . }}:{{ . }}
{{/each}}
{{/if}}
