out
node_modules
*.vsix
.nyc_output/**
coverage/**

# Artifacts from running vscode extension tests
.vscode-test
testOutput

.vs
test-results.xml
dist
stats.json

# Artifacts from running npm install
**/npm-debug.log
