language: node_js

sudo: required

services:
  - docker

node_js:
  - 'stable'

before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

install:
  - npm install

script:
  - npm run build
  - gulp package
  - gulp upload-vsix
  - npm run lint
  - npm test

notifications:
  email:
    on_success: never
    on_failure: always
