.azure-pipelines/**
.github/**
.gitattributes
.gitignore
.vscode-test/**
.vscode/**
*.tgz
**/*.gif
**/*.map
**/*.ts
build/**
dist/test/**
docs/**
gulp*
node_modules/**
out/**
resources/readme/**
resources/walkthroughs/*.gif
src/**
stats.json
test-results.xml
test/**
testOutput/**
tsconfig.json
typings/**
webpack.config*
.eslintignore
.eslintrc.json
.nvmrc
component-detection-pip-report.json
