# This excludes files during npm pack
.azure-pipelines/**
.github/**
.vscode/**
build/**
images/**
utils/**
node_modules/**
out/**
src/**
test/**
testOutput/**
typings/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
test-results.xml
gulp*
webpack.config*
package-lock.json
stats.json
tslint.json
*.tgz
