<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'none'; img-src {{ cspSource }} file:; script-src 'nonce-{{ nonce }}'; font-src {{ codiconsFontUri }}; style-src {{ cspSource }} {{ codiconsStyleUri }} 'nonce-{{ nonce }}';" />
    <link href="{{ codiconsStyleUri }}" rel="stylesheet" />
    <title>Docker: Getting Started</title>

    <style nonce="{{ nonce }}">
        #icons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        #icons .icon {
            width: 140px;
            padding: 20px;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        #icons .icon .codicon {
            font-size: 32px;
            padding-bottom: 16px;
        }
    </style>
</head>

<body>
    <a href="command:vscode-docker.help">Hello</a>
    <div>Regular text</div>
    <img src="{{ dockerSvgUri }}" width="300" />
    <input type="checkbox" id="showStartPage" {{ showStartPageChecked }} />
    <label for="showStartPage">Show this page when a new update to the Docker extension is released</label>

    <div id="icons">
        <div class="icon"><i class="codicon codicon-account"></i>account</div>
    </div>
</body>

<script nonce="{{ nonce }}">
    const vscode = acquireVsCodeApi();
    const showStartPageCheckbox = document.getElementById('showStartPage');

    showStartPageCheckbox.addEventListener('click', function () {
        vscode.postMessage({
            command: 'showStartPageClicked',
            showStartPage: showStartPageCheckbox.checked
        });
    });
</script>

</html>
