version: '3.4'

services:
  {{ serviceName }}:
    image: {{ serviceName }}
    build: .
    environment:
      NODE_ENV: development
    ports:
      - 9229:9229
{{#each ports}}
      - {{ . }}:{{ . }}
{{/each}}
    command: {{ toQuotedArray nodeDebugCmdParts }}
