version: '3.4'

services:
  {{ serviceName }}:
    image: {{ serviceName }}
    build: .
    environment:
      NODE_ENV: production
{{#if ports}}
    ports:
{{#each ports}}
      - {{ . }}:{{ . }}
{{/each}}
{{/if}}
