services:
  {{ serviceName }}:
    image: {{ serviceName }}
    build:
      context: {{ workspaceRelative . dockerBuildContext }}
      dockerfile: {{ contextRelative . dockerfileDirectory }}/Dockerfile
{{#if ports}}
    ports:
{{#each ports}}
      - {{ . }}:{{ . }}
{{/each}}
{{/if}}
