.accordion {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    cursor: pointer;
    margin: 0px;
    height: 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
    transition: 0.4s;
    text-align: left;
}

.accordion:hover {
    cursor: pointer;
    background-color: var(--vscode-list-hoverBackground);
}

.accordion:focus {
    background-color: var(--vscode-list-hoverBackground);
}

.active {
    background-color: var(--vscode-list-activeSelectionBackground);
}

.active.accordion:focus,
.active.accordion:hover {
    background-color: var(--vscode-list-activeSelectionBackground);
}

.panel {
    width: 100%;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

.widthControl {
    box-sizing: border-box;
    text-align: left;
}

.solidBackground {
    background-color: var(--vscode-editor-background);
}

h2 {
    padding-left: 10px;
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
}

#core {
    padding-top: 0.2cm;
    table-layout: auto;
    box-sizing: border-box;
}

#core td,
#core th {
    box-sizing: border-box;
    padding-right: 0.35cm;
    padding-left: 0.35cm;
}

.colTitle {
    cursor: pointer;
    align-items: center;
    display: flex;
}

body {
    padding: 0px;
    width: 100%;
    color: var(--vscode-editor-foreground);
}

.logConsole {
    height: 100px;
    overflow-y: auto;
}

.innerTable td {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
}

.innerTable td.lastTd {
    border-bottom: 0px;
}

.innerTable td.arrowHolder {
    border-bottom: 0px;
    padding-right: 0.7cm;
}

.innerTable td,
.innerTable th {
    text-align: left;
}

.button-holder {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0.7cm;
}

.viewLog {
    background-color: var(--vscode-button-background);
    border: none;
    color: var(--vscode-button-foreground);
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--vscode-editor-font-size);
    cursor: pointer;
    align-items: center;
}

.loadMoreBtn {
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.viewLog:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.arrow {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.rotate180 {
    transform: rotate(180deg);
}

.activeArrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.paddingDiv {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copy:hover {
    cursor: pointer;
}

.borderLimit {
    padding-left: 40px;
}

.sort {
    display: flex;
    align-items: center;
}

#digestVisualizer {
    position: absolute;
    width: 1px;
    visibility: hidden;
}

.arrowHolder {
    box-sizing: border-box;
    width: 4.6%;
    padding-right: 0.7cm;
    text-align: center;
}

.overflowX {
    overflow-x: auto;
}

.IconContainer {
    font-size: 14px;
    float: left;
    margin: 0 5px 5px 0;
    width: 50px;
    height: 50px;
    line-height: 51px;
}

.IconContainer-icon {
    text-align: center;
}

.IconContainer-name,
.IconContainer-unicode {
    display: none;
}

.holder {
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
}

.textAlignRight {
    text-align: right;
}

p {
    margin: 0px;
}

.innerTable th {
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.doubleLine {
    border-bottom: 2px solid rgba(196, 196, 196, 0.5);
}

main {
    display: grid;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 1399px) {
    main {
        margin-left: 5%;
        margin-right: 5%
    }
}

@media screen and (min-width: 1920px) {
    main {
        width: 1920px;
    }
}

#tableHead {
    border-bottom: 1.1px solid var(--vscode-editor-foreground);
    box-shadow: 0px 1px var(--vscode-editor-foreground);
}

#tableHead tr {
    height: 0.85cm;
}

.dragLine {
    position: absolute;
    height: 80%;
    width: 1px;
    background-color: white;
    background-clip: content-box;
    padding-left: 0.35cm;
    padding-right: 0.35cm;
    left: 100%;
    top: 10%;
    cursor: w-resize;
    z-index: 10;
}

.dragWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: first baseline;
}

.searchBoxes {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
}

.searchBoxes .middle {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 34%;
    box-sizing: border-box;
}

.searchBoxes div {
    padding-right: 0px;
    width: 33%;
    box-sizing: border-box;
}

.searchBoxes div input {
    padding: 5px;
    border: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-dropdown-foreground);
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    box-sizing: border-box;
    display: none;
    background-color: var(--vscode-list-hoverBackground);
    border: var(--vscode-dropdown-border);
    color: var(--vscode-list-foreground);
    text-align: center;
    padding: 5px 16px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--vscode-editor-foreground) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    display: inline;
    opacity: 1;
}

#loading {
    display: inline-block;
    border: 3px solid var(--vscode-editor-foreground);
    border-radius: 50%;
    border-top-color: var(--vscode-editor-background);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    height: calc(var(--vscode-editor-font-size)*1.5);
    width: calc(var(--vscode-editor-font-size)*1.5);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#loadingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
